@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a class="nav-link text-primary d-inline" asp-area="" asp-controller="Actors" asp-action="Index">Actors</a>, 
    <a class="nav-link text-primary d-inline" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
    or  <a class="nav-link text-primary d-inline" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
    </p>
                     
</div>
 